* {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}
.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  border: solid 1px rgb(5, 5, 5);
  border-radius: 5px;
  padding: 5px;
  box-shadow: 6px 6px 2px 1px rgba(0, 0, 255, 0.2);
}

.team-container {
  display: flex;
  justify-content: center;
}
.person {
  margin: 10px;
  border: 1px solid black;
  padding: 5px;
}

.contact-details {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
