.card-post__author-avatar--small {
  margin-right: 1em;
}

.card-post--aside .card-post__image {
  width: 50%;
  min-height: 545px;
  background-position: top left;
}

.card-post--1.card-post--aside .card-body {
  width: 50%;
}

.card-post .card-footer, .card-post .card-header {
  position: relative;
}

.card-post--1.card-post--aside .card-post__author {
  left: 0;
  bottom: 0;
  position: relative;
  margin-bottom: 1em;
}

.person__image {
  min-height: 150px;
}

.social-links a {
  margin-right: 1em;
  font-size: 1.8em;
}

.project-links a {
  margin-right: .5em;
  display: inline-block;
}